
basic-form/.idea/basic-form.iml
basic-form/.idea/workspace.xml
basic-form/.idea/modules.xml
basic-form/.idea/vcs.xml
.DS_Store
site-recode-assign6/.idea/vcs.xml
site-recode-assign6/.idea/modules.xml
site-recode-assign6/.idea/site-recode-assign6.iml
